body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
