<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'bar.css' %}">
<html>
  <head lang='en'>
    <meta charset="UTF-8" />
    <title>Froggr Base -
      {% block title_block %}
      Default Title
      {% endblock %}</title>
  </head>
  <body>
    <div class="topnav">
      <a class="navbar-brand" href="/">
        <div class="logo-image">
          <img src="{% static 'frog3.jpg' %}" alt="pic of frog" />
        </div>
      </a>
      <a class="active" href="#my-profile">Profile</a>
      <a href="#my-profile">Create a frogg</a>
      <a href="#frog-in">Frog out</a>
    </div>
  </body>
</html>
