{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Edit Your Profile
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block body_block %}
<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<h3 style="text-align: center">Your Profile Picture!</h3>
			{% if request.user.userprofile.image %}
				<img class="profile-pic" src="{{request.user.userprofile.image.url}}" >
			{% else %}
				<img class="profile-pic" src="{% static 'defaultpic.jpeg' %}" >
			{% endif %}
            <br>
            <br>
            <a class="btn btn-primary" href="{% url 'froggr:profile' %}">Back to Profile</a>
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
            <form id="profile_form" method="post" action="{% url 'froggr:create-profile' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
				<h3 style="text-align: center">Edit Your Profile!</h3>
            {{ profile_form.as_p }}
            <br>
            <br>
            <input type="submit" name="submit" value="Edit Profile"class="btn btn-primary" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}





