{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Create Profile
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block body_block %}
<div id="profile-create">
  <h1> Edit your profile! </h1>
  <form id="profile_form" method="post" action="{% url 'froggr:create-profile' %}"
	enctype="multipart/form-data">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <br>
    <br>
    <input class="btn btn-primary" type="submit" name="submit" value="Create Profile"/>
  </form>
</div>
{% endblock %}
