{% extends 'base.html' %}
{% load static %}

{% block title_block %}
{{ post.title }}
{% endblock %}
{% block head_block %}
<script src="{% static 'frogg.js' %}"></script>
<link rel="stylesheet" href="{% static 'comments.css' %}">
<link rel="stylesheet" href="{% static 'post-page.css' %}">
{% endblock %}

{% block body_block %}
<div class="frogg-post">
<h1> {{ post.title }}</h1>
<h3> by <a href="{% url 'froggr:profile' author_url %}">{{ post.user.username }}</a> </h3>
{% if user_owns_post %}
<a href="{% url 'froggr:create-frogg' post_url %}"> Edit Post </a>
{% endif %}
<br><br><br><br>
{% if post.image %}
<img class="post-image" src={{ MEDIA_URL }}{{ post.image }}/>
{% endif %}
<br><br>
<hr>
<br><br>
<p>{{ post.text }}</p>
</div>
<br><br><br>
<div id="post-comment-section" class="form-group">
  <h3 id="like_block"><strong id="like_count">{{ post.score }}</strong> likes 
  {% csrf_token %}
  {% if user.is_authenticated %}
    {% if user not in post.users_liked.all %}
      <button id="like_btn"
              data-postid="{{ post.post_slug }}"
              data-action="like"
              class="btn btn-primary btn-sm like_btn{{post.post.slug}}"
              type="button">Like Post</button>
    {% else %}
      <button id="like_btn"
              data-postid="{{ post.post_slug }}"
              data-action="dislike"
              class="btn btn-primary btn-sm like_btn{{post.post.slug}}"
              type="button">Unlike Post</button>
      {% endif %}
      {% endif %}
      </h3>
<br><br>
<div id="comments", class="form-group">
  <br>
      {% csrf_token %}
      {% if comment_form %}
  <h3> Write a comment </h3>
  <form id="comment_form" method="post" action="{% url 'froggr:posts' post.post_slug %}"
	enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ comment_form.as_p }}
    <input type="submit" name="submit" value="Comment"/>
  </form>
      {% endif %}
  <br><br>
  <h1> Comments: </h1>

  {% for comment in comments %}
  <hr>
  <h3> {{ comment.user.username }} says... </h3>
  <p> {{ comment.text }}</p>
  {% endfor %}
</div>

</div>

{% endblock %}
