{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}


{% block body_block %}

{% block top_block %}

{% endblock %}
	<div class="d-flex">
		<div class="row mx-auto w-75">
		  {% for post in posts %}
		  <div class="col-sm-4 form-group d-flex justify-content-center">
		    <!-- post link -->
		    <a class="dull_link" href="{% url 'froggr:posts' post.post_slug %}">
			 	<div class="card">
			 		{% if post.image %}
	    				<img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ post.image }}" alt="Card image cap">
	    			{% else %}
	    				<img class="card-img-top img-responsive" src="{% static 'placeholder.png' %}" alt="Card image cap">
	    			{% endif %}
			    	<div class="card-body">
			      		<h5 class="card-title">{{ post.title }}</h5>
			      		<p class="card-text">
			        		{{ post.text }}
			      		</p>
			      		<p class="card-text">
			        		<small class="text-muted">By {{ post.user.username }}</small>
			      		</p>
			      	</div>
			     </div>
				
		           </a> <!-- END POST LINK -->
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}


