{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}

{% block head_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static 'posts.js' %}"></script>
{% endblock %}

{% block body_block %}

{% block top_block %}
<h1 class="d-flex justify-content-center">{{ post_view_title }} </h1>
<br>
{% endblock %}
<div class="d-flex">
  <div id="post_list" class="row mx-auto w-75">
  </div>
</div>
{% endblock %}


