{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}

{% block head_block %}
<script src="{% static 'posts.js' %}"></script>
<script src="{% static 'sort.js' %}"></script>
<link rel="stylesheet" href="{% static 'post-feed.css' %}">
{% endblock %}

{% block body_block %}

{% block top_block %}
<h1 class="d-flex justify-content-center">{{ post_view_title }} </h1>
<br>
{% endblock %}

<form id="sort-form" method="get">
  <select class="btn" name="sort_by" id="sort_by">
    <option value="date"  {% if request.GET.sort_by == 'date'  %}selected{% endif %}>Date </option>
    <option value="title" {% if request.GET.sort_by == 'title' %}selected{% endif %}>Title</option>
    <option value="score" {% if request.GET.sort_by == 'score' %}selected{% endif %}>Score</option>
  </select>
  <input type="hidden" name="sorting_order" id="sorting_order"
	 value="{% if request.GET.sorting_order %}{{ request.GET.sorting_order }}{% else %}descending{% endif %}">
  <button type="button" id="order_toggle_button"
	  class="{% if request.GET.sorting_order == 'descending' or not request.GET.sorting_order %}
		       arrow down{% else %}arrow up{% endif %} btn">&#9650;</button>
</form>



<div class="d-flex">
  <div id="post_list" class="row mx-auto w-75">
  </div>
</div>
{% endblock %}
