{% extends 'post_feed.html' %}
{% load static %}

{% block title_block %}
{{ username }}'s profile
{% endblock %}

{% block head_block %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'post-page.css' %}">
{% endblock %}

{% block top_block %}
<div class="frogg-post">
<div class="frogg-title">
  <h1 class="frogg-header">{{ username }}</h1>
  {% if logged_in %}
{% if not is_logged_in_profile %}
	{% if following2 %}
		<button class="btn btn-primary" use="follow" user="{{ username }}" type="submit">Unfollow</button>
	{% else %}
		<button class="btn btn-primary" use="follow" user="{{ username }}" type="submit">Follow</button>
		{% endif %}
		{% endif %}
{% endif %}
{% if is_logged_in_profile %}
<a class="btn btn-secondary frogg-btn" href="{% url 'froggr:create-profile' %}">Edit Profile</a>
{% endif %}
</div>
<br>
{% if profile.image %}
<img class="post-image" src={{ MEDIA_URL }}{{ profile.image }}/>
{% endif %}
<p>{{ profile.text }}</p>
<br> <br>
<strong>Following</strong>
{% for userTuple in following %}
	<a href="{% url 'froggr:profile' userTuple.1 %}">{{ userTuple.0.username }}</a><br/>
{% endfor %}
<strong>Followers</strong>
{% for userTuple in followers %}
	<a href="{% url 'froggr:profile' userTuple.1 %}">{{ userTuple.0.username }}</a><br/>
{% endfor %}
<hr>
</div>
<script src="{% static "follow.js" %}" crossorigin="anonymous"></script>
{% endblock %}
