{% extends 'post_feed.html' %}
{% load static %}

{% block title_block %}
{{ username }}'s profile
{% endblock %}

{% block head_block %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'post-page.css' %}">
{% endblock %}

{% block top_block %}
<div class="frogg-post">
<div class="frogg-title">
<h1 class="frogg-header">{{ username }}</h1>
{% if is_logged_in_profile %}
<a class="btn btn-secondary frogg-btn" href="{% url 'froggr:create-profile' %}">Edit Profile</a>
{% endif %}
</div>
<br>
{% if profile.image %}
<img class="post-image" src={{ MEDIA_URL }}{{ profile.image }}/>
{% endif %}
<p>{{ profile.text }}</p>
<br> <br>
<hr>
</div>
{% endblock %}
