{% extends 'post_feed.html' %}
{% load static %}

{% block title_block %}
{{ username }}'s profile
{% endblock %}

{% block head_block %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'post-page.css' %}">
<link rel="stylesheet" href="{% static 'profile-page.css' %}">
{% endblock %}

{% block top_block %}
<div class="frogg-post">
<h1>{{ username }}</h1>
{% if is_logged_in_profile %}
<a href="{% url 'froggr:create-profile' %}"> Edit Profile </a>
{% endif %}
<br>
{% if profile.image %}
<img class="post-image" src={{ MEDIA_URL }}{{ profile.image }}/>
{% endif %}
<p>{{ profile.text }}</p>
<br> <br>
<hr>
</div>
{% endblock %}
