{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Signup
{% endblock %}

{% block head_block %}
<link rel="icon" href="{% static 'frog.png' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
<link rel="stylesheet" href="{% static 'logins.css' %}">
{% endblock %}

{% block body_block %}	
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">

      <div class="d-flex justify-content-center">
	<h3 id="form-title">SIGN UP TO FROGGR</h3>
      </div>

      <div>	
	<form method="POST" action="">
          {% csrf_token %}
	  <div>
	    <input type="text" name="username" placeholder="username...">
	  </div>
	  <div>
	    <input type="email" name="email" placeholder="email...">
	  </div>
	  <div>
	    <input type="password" name="password" placeholder="password...">
	  </div>
	  <div>
	    <input type="password" name="password" placeholder="Re-enter password...">
	  </div>
	  
	  <div>
	    <input class="btn login_btn" type="submit" value="Register Account">
	  </div>
	</form>
      </div>
      
      <div class="mt-4">
	<div>
	  Already have an account? <a href="{% url 'froggr:frog-in' %}" class="ml-2">Login</a>
	</div>
      </div>

      
    </div> <!-- user card end-->
  </div>
</div>

{% endblock %}
