{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Signup
{% endblock %}

{% block head_block %}
<link rel="icon" href="{% static 'frog.png' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block body_block %}
<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">

      <div class="d-flex justify-content-center">
	<h2 id="form-title">FROGGR UP</h2>
      </div>
      <div>
	<form id="register_form" method="POST" action="">
          {% csrf_token %}
	  <div class="input-group mb-4">
		  <div class="input-group-append">
			  <span class="input-group-text"><i class="fas fa-user"></i></span>
		  </div>
		  <input type="text" name="username" value="{{username}}" placeholder="Username...">
	  </div>
	  <div class="input-group mb-4">
		  <div class="input-group-append">
			  <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
		  </div>
		  <input type="email" name="email" value="{{email}}" placeholder="Email...">
	  </div>
		<div class="input-group mb-4">
		  <div class="input-group-append">
			  <span class="input-group-text"><i class="fas fa-key"></i></span>
		  </div>
			<input type="password" name="password1" placeholder="Password...">
	  </div>
	  <div class="input-group mb-4">
		  <div class="input-group-append">
			  <span class="input-group-text"><i class="fas fa-key"></i></span>
		  </div>
	    	<input type="password" name="password2" placeholder="Re-enter password...">
	  </div>
	  
	  <div class="d-flex justify-content-center links">
	    <input class="btn login_btn" type="submit" value="Register Account">
	  </div>
	</form>
      </div>
		{{form.errors}}
      
      <div class="mt-4">
	<div>
	  Already have an account? <a href="{% url 'froggr:frog-in' %}" class="ml-2">Login</a>
	</div>
      </div>

      
    </div>
  </div>
</div>

{% endblock %}