<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Signup</title>
	<link rel="stylesheet" href="{% static 'test.css' %}">
	<link rel="icon" href="{% static 'frog.png' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >


	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		.user_card {
			width: 350px;
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			justify-content: center;
			flex-direction: column;
			padding: 10px;

		}
	</style>

</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">SIGN UP TO FROGGR</h3>
				</div>
				<div>

					<form method="POST" action="">
                        {% csrf_token %}
						<div>
							<input type="text" name="username" placeholder="username...">
						</div>
						<div>
							<input type="email" name="email" placeholder="email...">
						</div>
						<div>
							<input type="password" name="password" placeholder="password...">
						</div>
						<div>
							<input type="password" name="password" placeholder="Re-enter password...">
						</div>

				   		<div>
				 			<input class="btn login_btn" type="submit" value="Register Account">
				   		</div>
					</form>
				</div>
				<div class="mt-4">
					<div>
						Already have an account? <a href="{% url 'froggr:frog-in' %}" class="ml-2">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
