<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'test.css' %}">
<html>
  <head lang='en'>
    <meta charset="UTF-8" />
    <title> another test page </title>
  </head>
  <body>
    <h1> This is another Test Page </h1>
    <p> Go back to the other test page: <a href="{% url 'froggr:test' %}"> here </a> </p>

    <h2> This Image is Static </h2>

    <img src="{% static 'cat_static.jpg' %}" alt="pic of cat" />

    <h2> This Image is Media </h2>

    <img src="{{ MEDIA_URL }}cat_media.jpg" alt="pic of cat media" />
    
  </body>
</html>
